.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
  color: rgba(255, 255, 255, 0.87);
}

.imageContainer {
  padding: 20px 100px 100px;
  border-radius: 8px;
  background-color: #59595ca5;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  box-shadow:0 0 5px 4px;
  color: rgb(255, 255, 255);
}

.logo {
  /* border-radius: 8px; */
  max-width: 400px;
}

.logo{
  animation: rotation infinite 2s linear alternate;
}

@keyframes rotation{

  to{ 
    transform:rotate(70deg);
  }
}
