.scroll {
  height: 75%; 
  width: 60%;
  overflow-y: scroll; 
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
}


.scroll-container::-webkit-scrollbar { 
  width: 12px; 
} 

.scroll-container::-webkit-scrollbar-track { 
  background: #f1f1f1; 
} 

.scroll-container::-webkit-scrollbar-thumb { 
  background: #888; 
} 

.scroll-container::-webkit-scrollbar-thumb:hover { 
  background: #555; 
} 

.scroll-container::-webkit-scrollbar-button { 
  display: none; 
} 