.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.form {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px 100px;
  background-color: #59595ca5;
  box-shadow:0 0 5px 4px;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  gap: 15px;
  width: 100%;
}
.form > h1 {
  text-align: left;
  margin: 0 0 20px;
  font-size: 36px;
}

.label {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-weight: bold;
  width: 100%;
  margin-bottom: 10px;
}

.formSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 15px;
  font-size: 24px;
}

.label > input {
  font-size: 18px;
  border-radius: 8px;
  width: 100%;
  padding: 8px 8px;
  margin-top: 5px;
}

.formSection > .label {
  margin-bottom: 10px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
  width: 100px;
  font-weight: bold;
  margin-top: 20px;
}